h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 800;
    color: rgba(255,255,255,0.99);
    cursor: default;
    user-select: none;
}

.bg-img {
    background: url("../img/aerial.png")
}

.page-wrapper {
    background-color: rgba(255,255,255,0.5);
}

#info {
    color: #cccccc;
    cursor: pointer;
    user-select: none;
}

.label {
    user-select: none;
}