.bg-image {
    background: url("../img/aerial.png") no-repeat bottom right;
    min-height: 100vh;
}

.s013 {
    background-color: rgba(255,255,255,0.5);
    min-height: calc(100vh - 50px);
}

.s013 form fieldset legend {
    color: #34443e;
}

.s013 form .btn-search {
    background: #509E2F;
}

.s013 form .btn-search:hover {
    background: #007A33;
}

.s013-404 {
    background-color: rgba(255,255,255,0.5);
    min-height: 100vh;
    display: block;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
}

.s013-404 h1 {
    font-size: 8rem;
    text-align: center;
    margin-top: 25vh;
    margin-bottom: 0;
}

.s013-404 h2 {
    font-size: 2rem;
    text-align: center;
    margin-top: 0;
}

.btn-home {
    width: 120px;
    height: 60px;
    padding: 0 15px;
    background: #007A33;
    white-space: nowrap;
    border-radius: 3px;
    font-size: 16px;
    color: #fff;
    transition: all .2s ease-out, color .2s ease-out;
    border: 0;
    cursor: pointer;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin-left: calc(50vw - 60px);
}

.btn-new {
    width: 120px;
    height: 40px;
    padding: 0 15px;
    background: #fff;
    white-space: nowrap;
    border-radius: 3px 3px 0 0;
    font-size: 16px;
    color: #007A33;
    transition: all .2s ease-out, color .2s ease-out;
    border: 0;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

footer {
    background-color: rgba(255,255,255,0.5);
    min-height: 50px;
    text-align: center;
}

.results-wrap {
    background: #fff;
    min-height: 80px;
    position: relative;
    padding: 20px 25px 20px 25px;
    width: 100%;

    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 75vh;
}

.results-wrap-no-scroll {
    background: #fff;
    min-height: 80px;
    position: relative;
    padding: 20px 25px 20px 25px;
    width: 100%;

    overflow-x: hidden;
    overflow-y: hidden;
    max-height: 75vh;
}

.container {
    margin: 50px;
}

.col-4 {
    display: flex;
    flex-direction:column;
}

.btn-login {
    width: 120px;
    height: 40px;
    padding: 0 15px;
    background: #007A33;
    white-space: nowrap;
    border-radius: 3px 3px;
    font-size: 16px;
    color: #fff;
    transition: all .2s ease-out, color .2s ease-out;
    border: 0;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.col-4 :first-child {
    margin-bottom: 10px;
}